// Default logo behaviour
.custom-logo-link{
	display: inline-block;
	padding: $padding-base-vertical $padding-base-horizontal;
	
	img{ @include img-responsive(); }

	&:hover, &:focus{
		opacity: 0.8;
	}
}

// Headings
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	text-transform: uppercase;
}

// alignment
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.1rem;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.1rem;
}

.aligncenter {
	clear: both;
	@include center-block;
}


// Images
.body-copy{
 
	//
	img{
		max-width: 100%; 
		@include img-responsive();

		@include breakpoint($screen-sm-min){
			width: auto;
		}
	}


	// h1, .h1{

	// 	$h1-fz: (
	// 		default : $font-size-h3, 
	// 		small   : $font-size-h3,
	// 		medium  : $font-size-h2,
	// 		large   : $font-size-h1
	// 	);

	// 	@include font-size($h1-fz);

	// }

	// h2, .h2{

	// 	$h2-fz: (
	// 		default : $font-size-h4,
	// 		small   : $font-size-h3,
	// 		medium  : $font-size-h3,
	// 		large   : $font-size-h2
	// 	);

	// 	@include font-size($h2-fz);

	// }

}