#tct-careers{

	// Layout
	.body-copy{
		width: susy-span(12);  

		@include breakpoint($screen-md-min){
			width: susy-span(8);  
			margin-left: susy-span(2);
		}
	}


	.well{
	  border-radius: 0;
	}

}  


	.page-careers{
		margin: 0;
		
		.featureimage, .careers-content{
			width: susy-span(12);
			float: left;
			padding: $padding-base-horizontal;

			@include breakpoint($screen-sm-min){
				width: susy-span(6);
			}
		}
		

	}