.tct-cta-alpha {
  padding-left: 1rem;
  padding-right: 1rem;
  .cta-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: $gray-light;
    margin: 15px;

    // Image
    .img-cont {
      width: susy-span(12);

      @include breakpoint($screen-sm-min) {
        width: susy-span(4);
      }

      img {
        $img-h: 275px;
        object-fit: cover;
        height: $img-h;
        width: 100%;
        @include breakpoint($screen-md-min) {
          height: $img-h;
        }
      }
    }

    .cta-body {
      width: susy-span(12);
      color: #fff;
      padding: $font-size-base * 2;
      font-size: $font-size-small;

      @include breakpoint($screen-sm-min) {
        width: susy-span(8);
      }

      // Headings
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      .h1,
      .h2,
      .h3,
      .h4,
      .h5,
      .h6 {
        color: #fff;
        margin: 0 0 $font-size-small 0;
        padding: 0;
      }

      h2,
      .h2 {
        $cta-h2-fz: (
          default: 2rem,
          small: 2.5rem,
          medium: 2.6rem,
          large: 2.7rem,
        );

        @include font-size($cta-h2-fz);
      }

      // Anchor Button
      a {
        @extend .btn;
        @extend .btn-default;
        text-transform: uppercase;
        color: $brand-primary;
        font-weight: map-get($font-weight, bold);
      }
    }
  }
}

.tct-cta-bravo {
  .thumbnail {
    padding: 2.5rem;
  }

  .svg-cont {
    padding: 0 4.5rem;
  }

  .caption {
    h2 {
      font-size: $font-size-base;
    }
  }
}

.cta-delta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .img-cont,
  .cta-body {
    // @include myoutline(red);
    @include breakpoint($screen-sm-min) {
      width: susy-span(6);
    }
  }

  .img-cont {
    img {
      @include img-responsive();
      margin-left: auto;
      margin-right: auto;
    }
  }

  .cta-body {
    // Anchor Button
    a {
      @extend .btn;
      @extend .btn-primary;
      text-transform: uppercase;
    }
  }
}

.cta-charlie {
}
