$footer-link-color: darken(#fff, 22%);

#site-footer {
  // Footer Default links
  a {
    color: $footer-link-color;
    &:hover,
    &:focus {
      color: darken(#fff, 15%);
    }
  }

  // Heading defaults
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: #fff;
  }
}

.site-footer {
  &-logo {
    text-align: center;
    img {
      @include img-responsive();
    }
  }

  &-copy {
  }

  &-address {
  }

  &-social {
    .lg-social-media {
      @include list-unstyled;
      margin-left: -5px;
      font-size: $font-size-h2;

      > li {
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }

  &-nav {
    text-align: center;
    .menu-footer-menu-container {
      text-align: center;
      text-transform: uppercase;

      ul {
        @extend .nav;
        @extend .nav-pills;
        display: inline-block;

        li:after {
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          display: block;
          height: $font-size-large;
          width: 2px;
          background-color: $footer-link-color;
        }

        li:last-child:after {
          background-color: transparent;
        }

        li a {
          &:hover,
          &:focus {
            background-color: transparent;
          }
        }
      }
    }
  }
}
