.gallery {
	margin-bottom: gutter();
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.gallery-item {

	// Loops to enumerate the classes for gallery columns.
	@for $i from 2 through 9 {
		.gallery-columns-#{$i} & {
			// @include myoutline(green);
			width: susy-span(12);
			margin-bottom: gutter();

			@include breakpoint($screen-sm-min){
				width: susy-span(12 / $i);
			}

		}
	}

	img{ @include img-responsive(); }

}

.gallery-caption {
	display: block;
}
 