.main-navigation{
	$nav-fz: (
		default : 13px,
		small   : 14px,
		medium  : 14px,
		large   : 18px
	);

	text-transform: uppercase;
	font-weight: map-get($font-weight, regular);
	@include font-size($nav-fz);

	.dropdown-menu{
		text-transform: uppercase;
		font-weight: map-get($font-weight, regular);
		@include font-size($nav-fz);
	}

}

.site-header-utility{
	text-align       : center;
	padding          : 0.5rem;
	font-size        : $font-size-small;
	background-color : $gray-lighter;
	font-weight      : map-get($font-weight, extra-bold);

  span {
    font-weight: 600;
  }

	@include breakpoint($screen-lg-min){
		background-color : initial;
		font-size        : initial;
		text-align       : initial;
		font-size        : $font-size-base;
		padding          : 4px;
	}

	.fa-stack{
		color: $gray-light;
	}
}
