#tct-projects{

	.thumbnail{
		position: relative;

		.caption{
			
			background-color : $brand-primary;
			bottom           : 1.4rem;
			color            : #fff;
			left             : 50%;
			position         : absolute;
			text-align       : center;
			transform        : translateX(-50%);
			width            : 90%;

			// Headings
			h1, h2, h3, h4, h5, h6,
			.h1, .h2, .h3, .h4, .h5, .h6 {
				color: #fff;
				margin: 0;
				padding: 0;
				font-size: $font-size-h4;
			}


		}

		&:hover, &:focus{opacity: 0.85; }
			
		.img-cont{ 
			border: solid 1px $gray-lighter;
			box-shadow: -2px 2px 5px  $gray-lighter;

			img{
				$img-h: 380px;

				object-fit: cover;
				height: $img-h / 1.75;
				width: 100%; 

				@include breakpoint($screen-sm-min){
					height: $img-h;
					
				}
			}
		}
		
	}

}