.scroll-to-top {
  position: fixed;
  bottom: 3.5rem;
  right: 1.5rem;
  padding: 12px 13px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  z-index: 99;
}
