#tct-services{

	// thumbnail
	.thumbnail{
		position: relative;
		background-color : transparent;


		.caption{
			text-align: center;
			padding-top: 2.0rem;

			// Headings
			h1, h2, h3, h4, h5, h6,
			.h1, .h2, .h3, .h4, .h5, .h6 {
				// color: #fff;
				margin: 0;
				padding: 0;
				font-size: $font-size-h4;
			}

			div.btn{
				font-weight: map-get($font-weight, medium);
				text-decoration: underline;
			}

		}
 
		&:hover, &:focus{ opacity: 0.85; }
			
		.img-cont{ 

			img{
				$img-h: 380px;

				object-fit: cover;
				height: $img-h / 1.75;
				width: 100%; 

				@include breakpoint($screen-sm-min){
					height: $img-h;
					
				}
			}
		}
		
	}


	// Shame
	.body-copy{
		margin-bottom: 0;
	}

}