#lg-slider-home-slider {
  $slick-height: 520px;

  // Image
  .slick-slide {
    img {
      object-fit: cover;
      width: 100%;
      height: $slick-height / 2;
      @include breakpoint($screen-md-min) {
        height: $slick-height;
      }
    }
  }

  .slick-list {
    height: $slick-height / 2 !important;
    @include breakpoint($screen-md-min) {
      height: $slick-height !important;
    }
  }

  // Dots
  .slick-dots {
    bottom: 25px;

    li button {
      @include myoutline(red);
      border: solid 1px #fff;
      background: transparent;
      display: block;
      height: 15px;
      width: 15px;
      outline: 0;
      line-height: 0;
      font-size: 0;
      color: transparent;
      padding: 5px;
      cursor: pointer;
      border-radius: 50%;

      &:before {
        color: #fff;
        opacity: 0;
      }
    }

    li.slick-active button {
      background: #fff;
    }
  }
}

.home-slide {
  // Large Title Size
  $home-slide-h2-fz: (
    default: 1.7rem,
    small: 2.1rem,
    medium: 2.4rem,
    large: 2.8rem,
  );

  // Default Type size
  $home-slide-fz: (
    default: 0.9rem,
    small: 1.4rem,
    medium: 1.4rem,
    large: 1.6rem,
  );

  position: relative;

  .slide-copy-container {
    // background-color : rgba($gray-lighter, .5);
    color: #fff;
    left: 50%;
    max-width: $screen-md-min;
    padding: 0 $font-size-base;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 1;
    @include font-size($home-slide-fz);
  }

  // Headings
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    position: relative;
    color: #fff;
    text-shadow: 2px 2px 10px #000;
    text-transform: uppercase;
    font-weight: map-get($font-weight, bold);
  }

  h1,
  h2 {
    @include font-size($home-slide-h2-fz);
    line-height: 1.4;
    margin-bottom: 3.4rem;

    &:after {
      content: "";
      position: absolute;
      bottom: -1.4rem;
      left: 50%;
      transform: translateX(-50%);
      width: 20vw;
      height: 4px;
      background-color: #fff;
    }
  }

  a.btn {
    margin: $font-size-large 0;
    text-transform: uppercase;
  }

  @media screen and (max-width: 992px) {
    .slick-dots {
      display: none !important;
    }
  }
}
