
// .site-info{
// 	text-align: center;
	
// 	@include breakpoint($screen-sm-min){
// 		text-align: left;
// 	}
// }

// .site-longevity{
// 	text-align: center;

// 	@include breakpoint($screen-sm-min){
// 		text-align: right;
// 	}
// }


// // Navigation Stuff
// .nav-footer{
	
// 	.nav-title{
// 		border-bottom: solid 1px $brand-primary;
// 	}

// 	ul{
// 		margin: 0;
// 		padding: 0;
// 		@extend .nav;
// 		@extend .nav-pills;
// 		@extend .nav-stacked;

// 		.current_page_item{
// 			@extend .active;
// 		}
// 	}
// }


// // Address Card
// .address-card{
// 	@extend .well;
// 	background-color: transparent;
// 	// border-width: 0;
// }

