/*!
	Theme Name: Trans Canada Trenchless
	Author: Longevity Graphics
	Version: 1.0.0
*/

// Theme Dependencies
@import "susy";
@import "stone-collection";
@import "lg-variables";
@import "font-awesome";
@import "breakpoint";
@import "bootstrap";
@import "helpers";

// Layout
@import "layout";
@import "layout/footer";
@import "layout/header";
@import "layout/thumbnail-grid";
@import "layout/contact";
@import "layout/lightbox";

// Components
@import "component";
@import "components/base";
@import "components/gravity";
@import "components/header";
@import "components/footer";
@import "components/galleries";
@import "components/images";
@import "components/slick-theme";
@import "components/project-grid-design";
@import "components/service-grid-design";
@import "components/careers-grid-design";
@import "components/cta";
@import "components/svg";
@import "components/scroll-to-top";
.scroll-to-top {
  position: fixed;
  bottom: 3.5rem;
  right: 1.5rem;
  padding: 12px 13px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  z-index: 99;
}
