.page-contact{

	.body-copy{
		display: flex;
		justify-content: space-between; 
		flex-wrap: wrap;

	}
 

	.tct-address, .contact-content{
		width: susy-span(12);
		padding: $padding-base-vertical;
		
		@include breakpoint($screen-sm-min){
			width: susy-span(6);
		}

	}

	.address-icon{
		padding-top: 1.3rem;
		li{
			display: flex;
			align-items: center;
			margin: $padding-large-horizontal 0;
			.fa-stack{
				margin-right: 0.5rem;
			}
		}
		
	}


	

}