// Site Footer
.site-footer {
  #site-footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: ($padding-base-vertical * 8) $padding-base-horizontal
      $padding-base-vertical $padding-base-horizontal;
  }

  &-logo,
  &-copy,
  &-address,
  &-social,
  &-nav {
    margin-bottom: $padding-base-horizontal;
  }

  &-logo {
    width: susy-span(12);

    @include breakpoint($screen-sm-min) {
      width: susy-span(4);
    }
    @include breakpoint($screen-md-min) {
      width: susy-span(2);
    }
    @include breakpoint($screen-lg-min) {
      width: susy-span(2);
    }
  }

  &-copy {
    width: susy-span(12);
    @include breakpoint($screen-sm-min) {
      width: susy-span(7);
    }
    @include breakpoint($screen-md-min) {
      width: susy-span(6);
    }
    @include breakpoint($screen-lg-min) {
      width: susy-span(3);
    }
  }

  &-address {
    width: susy-span(12);
    @include breakpoint($screen-sm-min) {
      width: susy-span(6);
    }
    @include breakpoint($screen-md-min) {
      width: susy-span(3);
    }
    @include breakpoint($screen-lg-min) {
      width: susy-span(3);
    }
  }

  &-social {
    width: susy-span(12);

    @include breakpoint($screen-sm-min) {
      width: susy-span(12);
    }
    @include breakpoint($screen-lg-min) {
      width: susy-span(2);
    }
  }

  &-nav {
    width: susy-span(12);
  }
}

// Default Legal stuff
#site-legal {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 1rem;
  padding-bottom: 1rem;
  &:before,
  &:after {
    content: none;
  }
  @media screen and (max-width: 992px) {
    display: block;
    text-align: center;
  }

  // Shame
  a {
    color: darken(#fff, 20%);
  }
}
