// Site Header
.site-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;

  .site-branding {
    padding: $font-size-base;
    display: none;

    @include breakpoint($screen-sm-min) {
      width: susy-span(3);
      display: block;
    }

    @include breakpoint($screen-md-min) {
      width: susy-span(3);
    }

    @include breakpoint($screen-lg-min) {
      width: susy-span(2);
    }
  }

  .main-navigation {
    width: susy-span(12);
    order: -1;
    @media screen and (max-width: 992px) {
      .navbar {
        position: static;
        #main-navbar {
          width: 100%;
          background-color: #fff;
          z-index: 9;
          position: absolute;
          left: 0;
          top: 100%;
        }
      }
    }

    @include breakpoint($screen-sm-min) {
      width: susy-span(9);
      order: initial;
    }

    @include breakpoint($screen-md-min) {
      width: susy-span(7);
    }
  }

  .site-header-utility {
    width: susy-span(12);
    order: -2;

    > a {
      display: block;
      > i {
        margin-left: 10px;
        margin-right: 5px;
      }
    }
    @include breakpoint($screen-sm-min) {
      //display: none;
    }
    @include breakpoint($screen-md-min) {
    }
    @include breakpoint($screen-lg-min) {
      display: block;
      width: 27%;
      order: initial;
    }
  }
}

// Nav bar header ~ Mobile
.navbar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .navbar-toggle-container {
    width: 100%;
    width: 100%;
    /* margin-left: auto; */
    /* float: right; */
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
  }

  // Logo thing
  a.custom-logo-link {
    width: susy-span(6);
    display: block;
    order: -1;

    @include breakpoint($screen-xs-min) {
      width: susy-span(4);
    }

    @include breakpoint($screen-sm-min) {
      display: none;
      width: susy-span(6);
    }

    // Image logo
    img {
      @include img-responsive();
    }
  }

  // need for flexbox alignment
  // .navbar-toggle-container{
  // 	width: susy-span(6);

  // 	@include breakpoint($screen-xs-min){
  // 		width: susy-span(8);
  // 	}
  // }

  // ul#nav{
  // 	background-color: $gray-darker;
  // }
}
